.advantage {
    width: 286px;
    height: 248px;

}
.advantage-img {
    width: 60px;
    height: 60px;

}
.advantage-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.advantage-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    text-align: center;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 15px 8px;
}