.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: #f7f3f3;
}

.card-images-swiper {
    display: none;
}
.card-items {
    width: 520px;
}

.card-items__bg {
    background-color: #fff;
    padding: 20px;
}
.card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.card-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #1D1D1B;
}
.card-value {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}
.card-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.card-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #6A6A6A;
}
.card-price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.card-price__old {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #979797;
    text-decoration-line: line-through;
}
.card-btn__add {
    width: 428px;
    height: 44px;
    background-color: #1D1D1B;
    color: #fff;
}
.card-items span {
    margin-right: 5px;
}
.card-btn__favor {
    width: 44px;
    height: 44px;   
    background-color: #1D1D1B;
}
.card-img {
    width: 303px;
    height: 492px;
    margin: 0 3px 3px 3px;
}
.card-img__mini {
    width: 150px;
    height: 240px;
    margin: 0 2px;
}
@media (max-width: 1200px) {
    .card-images-images {
        display: none;
    }
    .card-images-swiper {
        display: block;
    }
    .card-images {
        width: 100vw;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
    }
    .card-img {
        width: 286px;
        height: auto;
    }
}
@media (max-width: 505px) {
    .card-btn__add {
        width: 100%;
    }
}