.help-item {
    /* height: 52px; */
    background-color: #fff;
}
.help-item__question {
    height: 52px;
    /* padding: 16px 60px 16px 16px; */
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    
}
.help-item__toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.help-item__answer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: #354455;
    padding: 0 16px;
    display: block;
}
/* .help-item__hide {
    display: none;
} */