.navbar-item {
    height: 60px;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    font-style: regular;
}
.navbar-logo{
    width: 15%;
    cursor: pointer;
}
.navbar-logo-img {
    width: 162px;
    height: 70px;
}

.navbar-search {
    width: 60%;
    position: relative;
}

.navbar-search-icon {
    position: absolute;
    top: 13px;
    right: 10px;
}
.navbar-items {
    width: 20%;
}
.none-underline {
    text-decoration: none;
}
.navbar-cart {
    position: relative
}
.cart-badges {
    background-color: #E5271B;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 15px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-badges_none {
    display: none;
}
@media (max-width: 1200px){
    .navbar-search{
        width: 50%;
        margin-left: 10px;
    }
}