.cart-order {
    width: 384px;
    height: 311px;
    padding: 24px;
    background-color: #fff;
}
.cart-order div {
    width: 100%;
}
.cart-order-items {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.cart-order button {
    width: 336px;
    height: 44px;
    background: #E5271B;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border: none;
}
.cart-order h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}
.cart-order__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

.cart-order__value {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}
.cart-order__border {
    border-top: 1px dashed #BFBFBF;
    padding-top: 24px;
}
.cart-order-toggle {
    width: 100%;
    height: 35px;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-order__fullscreen {
    display: block;
}
.cart-order__adaptiv {    
    display: none;
}
.cart-order__bottom-border {
    border-bottom: 1px dashed #BFBFBF;
}
@media (max-width: 576px){
    .cart-order__fullscreen {
        display: none;
    }
    .cart-order__adaptiv {
        display: block;
        width: 100%;
    }
    .cart-order{
        width: 92vw;
        height: auto;
        margin: 18px;
        padding: 0 10px;
    } 
    .cart-order-items {
        margin: 0;
    }
    .cart-order button {
        width: 100%;
    }
}