.similar {
    width: 226px;
    background-color: #fff;
}


.similar-image {
    /* width: 226px;
    height: 332px; */
    position: relative;
}
.similar-img {
    width: 226px;
    height: 332px;
}