.colors__round {
    width: 10px;
    height: 10px;
   
    opacity: 0.5;
    border-radius: 4px;
}
.colors__active {
    width: 20px;
    height: 20px;
    border: 1px solid #D1D1D1;
    cursor: pointer;
    display: flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}
.colors {
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}