.collapse-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}
.collapse-modal .modal-content{
    width: 250px;
    height: 640px;
}
.collapse-modal .modal-header {
    border-bottom: none;
}
.collapse-modal .modal-body {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.collapse-modal a{
    padding: 10px 0;
}
.modal-border {
    border-top: 1px solid #D3D3D3;
    padding-top: 5px;
}
@media (max-width: 576px){
    .navbar-fav {
        display: block;
    }
    .navbar-cart {
        display: block;
    }

}