.product {
    /* padding: 3px; */
    background-color: #fff;
}
.product-image {
    width: 286px;
    height: 437px;
    position: relative;
    cursor: pointer;
}
.product-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.product-price {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.product-price__old {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #ADADAD
}
.product-size {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7C7C7C;
    text-align: justify;
}
.product-items {
    height: 99px;
}
.product-sale__triangle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.product-sale__value {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 15;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    transform: rotate(-45deg);
}
.product-favor {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}