.about-us {
    width: 100%;
    /* padding:3vw 0; */
   
}
.about {
    background-color: #f7f3f3;
}
.about-us-images {
    width: 60%;
}
.about-us-images__left {
    width: 50%;
    height: auto;
}
.about-us-images__right {
    width: 50%;
    height: auto;
}
.about-us-images img{
    width: 100%;
    height: auto;
    padding: 10px;
}
.about-us-items {
    width: 40%;
   
}
.about-us-content {
    background-color: #fff;
    padding: 15px 15px 5px 15px;
}
.about-us-items span {
    font-weight: 500; 
    font-size: 24px;
    line-height: 29px;
}
.about-us-items p {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #979797;
}
@media (max-width:992px){
    .about-us {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-us-images {
        width: 100vw;
        padding: 0 5vw;
    }
    .about-us-items {
        width: 100vw;
        padding: 0 5vw;
    }
}
