.our-advantages {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
@media (max-width:1000px) {
    .our-advantages {
        display: flex;
        flex-wrap: wrap;
    }

}
@media (max-width:775px) {
    .our-advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width:576px) {
    .our-advantages {
        padding-bottom: 20px;
    }
}